<!doctype html>
<html lang="en">

<head>
    <link href='https://fonts.googleapis.com/css?family=Alatsi' rel='stylesheet'>
    <title>Unnamed Bot</title>
<link rel="icon" href="https://cdn.discordapp.com/avatars/732208102652379187/07cdc23792f9c6ecf7dd2c976f1e8111.webp?size=1024">
    <link href="/CSS/dashboardexcept.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body id="thebody" style="background:#1C1F26">
    <div class="navbar">
        <a class="h" href="<%= address %>/">Home</a>
        <a class="h" href="<%= status %>">Status</a>
        <a class="h" href="<%= address %>/app">Dashboard</a></li>
        <div class="dropdown">
            <button class="dropbtn" style="background-color:gray">More
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a class="h" href="<%= address %>/documentation">Documentation <i class="fa fa-book" aria-hidden="true"></i></a>
                <a class="h active" href="<%= address %>/about">About <i class="fa fa-question-circle" aria-hidden="true"></i></a>
                <a class="h" href="<%= address %>/commands">Commands <i class="fa fa-list" aria-hidden="true"></i></a>
                <a class="h" href="<%= address %>/changelogs">Changelogs <i class="fa fa-file-text-o" aria-hidden="true"></i></a>
            </div>
        </div>
        <a style="float:right" class="h" target="_blank" href="https://discord.com/oauth2/authorize?client_id=732208102652379187&permissions=8&scope=bot" >Invite me</a>
        <a style="float:right"class="h" href="https://discord.gg/fDUs68p" target="_blank">Support Server</a>
    </div>
    <div style="padding:21px"></div>
    <div class="container">
        <img style="width:100%;height:50%;pointer-events: none;" class="selectDisable" id="myImage"
            src="https://i.ibb.co/V9ZZ4r5/cubes.png">
        <div class="centered" onselectstart="return false" style="cursor: pointer;">Unnamed bot - About</div>
    </div>
    <div class="text">
        <h3 style="color:white;text-align:center;">Information about the bot and what it's for</h3>
      <div style="background-color:#272b33;padding: 70px 0;text-align: center;margin-top:100px;box-shadow: 0px 0px 20px 5px #00000030;">
        <div style="color:white;margin-left:100px;margin-right:100px;text-align:center;font-size:30px">
            <p>UnNamed is an advanced and deeply customizable Moderation and Economy bot, 
                with a simple Web Dashboard and extensive, useful and fun commands. 
                The bot has cross saving so you can share your work replies with friends!
                Started in July 2020 and released in XYZ 2020, the bot was coded in 
                node.js (discord.js) and python, and the website in HTML. It is 
                currently in Alpha, but why not give it a try!<br><br>- Coolo2#5499 (bot dev)</p>
                <div style="bottom:20%;left:50%;position: absolute;transform: translate(-50%, -50%);z-index:10;"><a onselectstart="return false" class="button link" target="_blank" href="https://discord.com/oauth2/authorize?client_id=732208102652379187&permissions=8&scope=bot">Invite me<span id="invitetext" class="invarrow"></span></a></div>
        
        </div>
    </div>
        
</div>
      
</div>
    
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/JS/dashboardexcept.js"></script>

</html>