<!doctype html>
<html lang="en">

<head>
    
    <title>Compass Bot - Changelogs</title>
<link rel="icon" href="/Images/favicon.png">
    <link href="/CSS/dashboardexcept.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Compass Bot (changelogs)" />
    <meta property="og:description" content="Compass bot - An advanced, customizable Economy and Moderation Discord Bot." />
    <meta property="og:url" content="<%- address %>" />
    <meta property="og:image" content="/Images/icon.png" />
    <meta name="theme-color" content="#272b33">
</head>

<body id="thebody" style="background:#1C1F26">
    <div class="navbar">
        <a class="h" href="<%= address %>/">Home</a>
        
        <a class="h" href="<%= address %>/app">Dashboard</a></li>
<a class="h" href="<%= address %>/status">Status</a></li>
<a class="h" href="<%= address %>/options">Options</a></li>
        <div class="dropdown">
            <button class="dropbtn" style="background-color:gray">More
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a class="h" href="<%= address %>/stats">Stats <i class="fa fa-line-chart" aria-hidden="true"></i></a>
<a class="h" href="<%= address %>/documentation">Documentation <i class="fa fa-book" aria-hidden="true"></i></a>
                
                <a class="h" href="<%= address %>/commands">Commands <i class="fa fa-list" aria-hidden="true"></i></a>
                <a class="h active" href="<%= address %>/changelogs">Changelogs <i class="fa fa-file-text-o" aria-hidden="true"></i></a>
                <a class="h" href="<%= address %>/p">Profiles <i class="fa fa-user" aria-hidden="true"></i></a>
            </div>
        </div>
        <a style="float:right" class="h" target="_blank" href="<%- address %>/invite" >Invite me</a>
        <a style="float:right"class="h" href="<%= address %>/supportserver" target="_blank">Support Server</a>
    </div>
    <div style="padding:21px"></div>
    <div class="container" style="overflow-x:hidden">
        <img style="width:2000px;height:300px;pointer-events: none;" class="selectDisable" id="myImage" src="/Images/cubes.png">
        <div style="position:absolute;font-size:50px;left:10%;transform: translate(0, -50%);top:calc(50% - 35px)">Compass Bot</div>
        <div style="position:absolute;left:10%;transform: translate(0, -50%);top:calc(50% + 20px);color:#DFE1E5">Changelogs</div>
    </div>
    <div class="text">
        <h3 style="color:white;text-align:center;">Changelogs for Compass from Initial release to now</h3>
      <div class="readability" style="background-color:#272b33;padding: 70px 0;text-align: center;margin-top:100px;box-shadow: 0px 0px 20px 5px #00000030;">
        <div class="readability" style="color:white;margin-left:50px;text-align:left;">
            <p><b>0.1.0 - Initial release (OCT-DEC)</b></p>
            <p>This is the initial release of the bot and adds many features:</p>
            <ul>
                <li>Bot with economy, moderation, fun and simple utility commands </li>
                <li>Customizability</li>
                <li>Extensive web dashboard covering most aspects of the bot which require a save.</li>
                <li>Cross saving work replies and unique customizability features</li>
                <li>Status pages and easy information about the bot through the website and discord server</li>
            </ul>
        </div>
    </div>
        
</div>
      
</div>
    
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/JS/dashboardexcept.js"></script>

</html>