<!doctype html>
<html lang="en">

<head>
    <link href='https://fonts.googleapis.com/css?family=Alatsi' rel='stylesheet'>
    <title>Compass Bot - Commands</title>
<link rel="icon" href="https://cdn.discordapp.com/attachments/769464671731449876/770241900266782730/compass-0.png">
    <link href="/CSS/commands.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Compass Bot (commands)" />
    <meta property="og:description" content="Compass bot - An advanced, customizable Economy and Moderation Discord Bot." />
    <meta property="og:url" content="<%- address %>" />
    <meta property="og:image" content="https://cdn.discordapp.com/attachments/769464671731449876/770241900266782730/compass-0.png?size=1024" />
    <meta name="theme-color" content="#272b33">
</head>

<body id="thebody" style="background:#1C1F26">
    <div class="navbar">
        <a class="h" href="<%= address %>/">Home</a>
        
        <a class="h" href="<%= address %>/app">Dashboard</a></li>
<a class="h" href="<%= address %>/options">Options</a></li>
        <div class="dropdown">
            <button class="dropbtn" style="background-color:gray">More
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a class="h" href="<%= address %>/stats">Stats <i class="fa fa-line-chart" aria-hidden="true"></i></a>
<a class="h" href="<%= address %>/documentation">Documentation <i class="fa fa-book" aria-hidden="true"></i></a>
                <a class="h" href="<%= address %>/about">About <i class="fa fa-question-circle" aria-hidden="true"></i></a>
                <a class="h active" href="<%= address %>/commands">Commands <i class="fa fa-list" aria-hidden="true"></i></a>
                <a class="h" href="<%= address %>/changelogs">Changelogs <i class="fa fa-file-text-o" aria-hidden="true"></i></a>
<a class="h" href="<%= address %>/status">Status <i class="fa fa-clock-o" aria-hidden="true"></i></a>
            </div>
        </div>
        <a style="float:right" class="h" target="_blank" href="https://discord.com/oauth2/authorize?client_id=732208102652379187&permissions=8&scope=bot" >Invite me</a>
        <a style="float:right"class="h" href="<%= address %>/supportserver" target="_blank">Join Support Server</a>
    </div>
    <div style="padding:21px"></div>
    <div class="container">
        <img style="width:100%;height:50%;pointer-events: none;" class="selectDisable" id="myImage"
            src="https://i.ibb.co/V9ZZ4r5/cubes.png">
        <div class="centered" onselectstart="return false" style="cursor: pointer;">Compass bot - Commands</div>
    </div>
    <div class="text">
        <h3 style="text-align:center;color:white">This page has an up-to-date list of all Compass commands. The two main sections are <b>Economy</b> and <b>Moderation</b></h3>
        <%- data %>
    </div>
        
</div>
      
</div>
    
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/JS/commands.js"></script>

</html>