<!doctype html>
<html lang="en">
<head>
    <title>Compass Bot - Home</title>
    <link rel="icon" href="/Images/favicon.png">
    <link href="/CSS/index.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Compass Bot" />
    <meta property="og:description" content="Compass bot - An advanced, customizable Economy and Moderation Discord Bot." />
    <meta property="og:url" content="<%- address %>" />
    <meta property="og:image" content="/Images/icon.png" />
    <meta name="theme-color" content="#272b33">
</head>
<body id="thebody" style="background:#1C1F26">
    <div class="navbar" id="topper">
        <a class="h active" href="<%= address %>/">Home</a>
        
        <a class="h" href="<%= address %>/app">Dashboard</a></li>
<a class="h" href="<%= address %>/p">Profiles</a></li>
<a class="h" href="<%= address %>/options">Options</a></li>
        <div class="dropdown">
            <button class="dropbtn">More
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a class="h" href="<%= address %>/stats">Stats <i class="fa fa-line-chart" aria-hidden="true"></i></a>
<a class="h" href="<%= address %>/documentation">Documentation <i class="fa fa-book" aria-hidden="true"></i></a>
                <a class="h" href="<%= address %>/about">About <i class="fa fa-question-circle" aria-hidden="true"></i></a>
                <a class="h" href="<%= address %>/commands">Commands <i class="fa fa-list" aria-hidden="true"></i></a>
                <a class="h" href="<%= address %>/changelogs">Changelogs <i class="fa fa-file-text-o" aria-hidden="true"></i></a>
<a class="h" href="<%= address %>/status">Status <i class="fa fa-clock-o" aria-hidden="true"></i></a>
            </div>
        </div>
        <a style="float:right" class="h" target="_blank" href="https://discord.com/oauth2/authorize?client_id=732208102652379187&permissions=2147483647&scope=bot" >Invite me</a>
        <a style="float:right"class="h" href="<%= address %>/supportserver" target="_blank">Join Support Server</a>
    </div>
      <div style="padding:22px"></div>
    <div class="container">
        <img style="width:100%;height:50%;pointer-events: none;" class="selectDisable" id="myImage"
            src="/Images/cubes.png">
        <div class="centered" onselectstart="return false" onclick="clickfunction()" style="cursor: pointer;">Compass
            bot</div>
        <button id="centerbutton" class="centerbutton" type="button">Invite me<span id="invitetext"
                class="invarrow"></span></button>
    </div>
    <div class="text">
        <div style="left:25%;text-align:center;color:white;position:absolute;bottom:100px">
            <p>And more! Invite me to see what more you can do with Compass, or explore the website.</p>
            <div style="padding-top:150px"></div>
            <div style="left:50%;top:50%;position: absolute;transform: translate(-50%, -50%);z-index:10;"><a onselectstart="return false" class="button link" target="_blank" href="https://discord.com/oauth2/authorize?client_id=732208102652379187&permissions=2147483647&scope=bot">Invite me<span id="invitetext" class="invarrow"></span></a></div>
        </div>
        <p class="line-1 thetext" id="info" style="text-align: center;user-select: none;">Compass bot: An advanced, customizable economy bot</p>
        <div style="padding:20px"></div>
        <div id="stats" class="grid-container" style="cursor:pointer" onclick="movedown()">
            <div class="grid-item"><p>Used by <%= servers %> servers</p></div>
            <div class="grid-item"><p>Linked with <%= users %> users</p></div>
            <div class="grid-item"><p>Access to <%= channels %> channels</p></div>
        </div>
        
        <img src="/Images/Moderation.png" onselectstart="return false" onclick="sizeimage()" style="cursor:pointer;" class="selectDisable imgs" id="image1">
        <div class="container5" style="overflow:hidden;" id="circles">
            <img src="/Images/dots.png"  class="selectDisable image5">
            <p class="text5">Moderation<br><br>An easy moderation system for easy control over your servers</p>
        </div>
        <img src="/Images/Economy.png" onclick="sizeimage2()" onselectstart="return false" style="cursor:pointer;" id="image2" class="selectDisable imgs2">
        <div class="container6" style="margin-top:900px;" id="circles2">
            <img src="/Images/dots.png"  class="selectDisable image6">
            <p class="text5">Economy<br><br>A simple, customisable Economy system with cross-saving</p>
        </div>
        <div id="versionButton" style="color:white;position:absolute;bottom:50px;left:50px;"><a onclick="notifyMe()" onselectstart="return false" style="cursor:pointer" class="button selectDisable link">Notify me!</a> Get notified on new version releases</div>
    </div>
    <div id="version" hidden><%- version %></div>
    <div class="container">
        <img style="width:100%;height:50%;pointer-events: none;" class="selectDisable" id="myImage2"
            src="/Images/cubes.png">
        <div id="botlinks" style="left:30%;top:50%;position: absolute;transform: translate(-50%, -50%);" onselectstart="return false">Compass bot : links</div>
        <div style="left:50%;top:50%;position: absolute;transform: translate(-50%, -50%);z-index:10;"><a onselectstart="return false" class="button link" target="_blank" href="https://discord.com/oauth2/authorize?client_id=732208102652379187&permissions=2147483647&scope=bot">Invite me<span id="invitetext" class="invarrow"></span></a></div>
        <div style="left:61%;top:50%;position: absolute;transform: translate(-50%, -50%);z-index:10;"><a onselectstart="return false" class="button selectDisable link" target="_blank" href="<%= address %>/supportserver">Support server<span id="invitetext" class="invarrow"></span></a></div>
        <div style="left:72.5%;top:50%;position: absolute;transform: translate(-50%, -50%);z-index:10;"><a onselectstart="return false" class="button selectDisable link" href="/app">Dashboard<span id="invitetext" class="invarrow"></span></a></div>
        <div style="left:81%;top:50%;position: absolute;transform: translate(-50%, -50%);z-index:10;"><a onselectstart="return false" class="button selectDisable link" href="<%= status %>">Status<span id="invitetext" class="invarrow"></span></a></div>
        <div style="left:50%;top:80%;position: absolute;transform: translate(-50%, -50%);z-index:10;border-radius:50px;"><a onselectstart="return false" class="button selectDisable link" style="background-color:gray;background: linear-gradient(145deg, gray 50%, rgb(114, 114, 114) 50%);" href="#">↑<span id="invitetext" class="invarrow"></span></a></div>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/JS/index.js"></script>
</html>