<!doctype html>
<html lang="en">

<head>
    
    <title>Compass Bot - Admin</title>
<link rel="icon" href="/Images/favicon.png">
    <link href="/CSS/dashboardguild.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Compass Bot (admin)" />
    <meta property="og:description" content="Compass bot - An advanced, customizable Economy and Moderation Discord Bot." />
    <meta property="og:url" content="<%- address %>" />
    <meta property="og:image" content="/Images/icon.png" />
    <meta name="theme-color" content="#272b33">
</head>

<body id="thebody" style="background:#1C1F26">
    <div class="navbar">
        <a class="h" href="<%= address %>/">Home</a>
        
        <a class="h" href="<%= address %>/app">Dashboard</a></li>
<a class="h" href="<%= address %>/status">Status</a></li>
        <a class="h" href="<%= address %>/options">Options</a></li>
        <a class="h active" href="<$- address $>/admin">Admin</a></li>
        <div class="dropdown">
            <button class="dropbtn">More
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a class="h" href="<%= address %>/stats">Stats <i class="fa fa-line-chart" aria-hidden="true"></i></a>
<a class="h" href="<%= address %>/documentation">Documentation <i class="fa fa-book" aria-hidden="true"></i></a>
                
                <a class="h" href="<%= address %>/commands">Commands <i class="fa fa-list" aria-hidden="true"></i></a>
                <a class="h" href="<%= address %>/changelogs">Changelogs <i class="fa fa-file-text-o" aria-hidden="true"></i></a>
<a class="h" href="<%= address %>/p">Profiles <i class="fa fa-user" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
    <div style="padding:21px"></div>
    <div class="container" style="overflow-x:hidden">
        <img style="width:2000px;height:300px;pointer-events: none;" class="selectDisable" id="myImage" src="/Images/cubes.png">
        <div style="position:absolute;font-size:50px;left:10%;transform: translate(0, -50%);top:calc(50% - 35px)">Compass Bot</div>
        <div style="position:absolute;left:10%;transform: translate(0, -50%);top:calc(50% + 20px);color:#DFE1E5">Admin</div>
    </div>
    <div class="topcornerdiv" id="topcorner">
        <button class="formbutton" style="float:right;margin-top:25px;padding:5px" onclick="logout()">Log out</button>
        <button class="formbutton" style="float:right;margin-top:25px;padding:5px" onclick="change()">Switch accounts</button>
        <%- avatar %>
        <p style="z-index:100;color:white" id="logintext">You're logged in as <%= name %></p>

    </div>
    <div class="text">
        <div class="titleBar" style="box-shadow: 0px 0px 20px 6px #00000050;border-radius:10px;background-color:#1C1F26;min-width:80%;margin-right:2%;margin-left:2%;top:0;min-width:95%;max-width:90%;height:70px;">
            <!--AUTOGENERATED START-->
            <a class="section" href="<%- address %>/admin">Status page</a>
            <a class="sectionactive" href="<%- address %>/admin/servers">Servers</a>
            <a class="section" href="<%- address %>/admin/suggestions">Suggestions</a>
            <a class="section" href="<%- address %>/admin/issues">Issues</a>
            <a class="section" href="<%- address %>/admin/globalCodes">Global codes</a>
            <!--AUTOGENERATED END-->
        </div>
        <div class="dataSection" style="color:white;position:absolute;box-shadow: 0px 0px 20px 6px #00000050;border-radius:10px;background-color:#1C1F26;min-width:95%;margin-top:5%;margin-right:2%;margin-left:2%;top:0;max-width:90%;padding:10px;">
            <div style="padding:20px 0px 20px 0px">Search servers: <input type="text" oninput="search()" id="search" class="forminput"></div>
            <div class="servers" ></div>
        </div>
    </div>
        
        

</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/JS/dashboardguild.js"></script>
<script>
    function checkURL(url){
        try {
            var arr = [ "jpeg", "jpg", "gif", "png" ];
            var ext = url.substring(url.lastIndexOf(".")+1);
            if($.inArray(ext,arr)){
                return true;
            }
        } catch {return false}
    }

    function httpGet(theUrl) {
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.open( "GET", theUrl, false ); // false for synchronous request
        xmlHttp.send( null );
        return JSON.parse(xmlHttp.response);
    }

    servers = httpGet(`<%- address %>/admin/serverarray`)

    function search(){ 
        string = ``
        input = document.getElementById("search").value
        section = document.getElementsByClassName(`servers`)[0]
        for (server of servers) {
            if ((server.name.toLowerCase() + server.id.toLowerCase()).includes(input.toLowerCase())) {
                if (checkURL(server.iconURL)) 
                    string = string + `<div onmouseover="this.style.backgroundColor='#585d66'" onmouseout="this.style.backgroundColor='#36393E'" onclick="window.open('<%- address %>/app/${server.id}', '_self')" style='cursor:pointer;background-color:#36393E;border-radius:10px'><img style='width:60px;height:60px;padding-right:10px;padding-top:10px;padding-left:10px' src='${server.iconURL}?size=1024'><span style='display: inline-block;vertical-align:top;padding-top:22px'>${server.name}</span></div><div style='padding-top:10px'></div>`
                else
                    string = string + `<div onmouseover="this.style.backgroundColor='#585d66'" onmouseout="this.style.backgroundColor='#36393E'" onclick="window.open('<%- address %>/app/${server.id}', '_self')" style='cursor:pointer;background-color:#36393E;border-radius:10px'><img style='border-radius:10px;padding-right:10px;padding-top:10px;padding-left:10px' src='https://i.ibb.co/Np9kNG9/noicon2.png' width='60px'><span style='display: inline-block;vertical-align:top;padding-top:22px'>${server.name}</span></div><div style='padding-top:10px'></div>`
            }
            
        }
        section.innerHTML = string
    }

    string = ``
    input = document.getElementById("search")
    section = document.getElementsByClassName(`servers`)[0]
    for (server of servers) {
        if (checkURL(server.iconURL)) 
            string = string + `<div onmouseover="this.style.backgroundColor='#585d66'" onmouseout="this.style.backgroundColor='#36393E'" onclick="window.open('<%- address %>/app/${server.id}', '_self')" style='cursor:pointer;background-color:#36393E;border-radius:10px'><img style='width:60px;height:60px;padding-right:10px;padding-top:10px;padding-left:10px' src='${server.iconURL}?size=1024'><span style='display: inline-block;vertical-align:top;padding-top:22px'>${server.name}</span></div><div style='padding-top:10px'></div>`
        else
            string = string + `<div onmouseover="this.style.backgroundColor='#585d66'" onmouseout="this.style.backgroundColor='#36393E'" onclick="window.open('<%- address %>/app/${server.id}', '_self')" style='cursor:pointer;background-color:#36393E;border-radius:10px'><img style='border-radius:10px;padding-right:10px;padding-top:10px;padding-left:10px' src='https://i.ibb.co/Np9kNG9/noicon2.png' width='60px'><span style='display: inline-block;vertical-align:top;padding-top:22px'>${server.name}</span></div><div style='padding-top:10px'></div>`
    }
    section.innerHTML = string
</script>

</html>