<!doctype html>
<html lang="en">

<head>
    
    <title>Compass Bot - Admin</title>
<link rel="icon" href="/Images/favicon.png">
    <link href="/CSS/dashboardguild.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Compass Bot (admin)" />
    <meta property="og:description" content="Compass bot - An advanced, customizable Economy and Moderation Discord Bot." />
    <meta property="og:url" content="<%- address %>" />
    <meta property="og:image" content="/Images/icon.png" />
    <meta name="theme-color" content="#272b33">
</head>

<body id="thebody" style="background:#1C1F26">
    <div class="navbar">
        <a class="h" href="<%= address %>/">Home</a>
        
        <a class="h" href="<%= address %>/app">Dashboard</a></li>
<a class="h" href="<%= address %>/status">Status</a></li>
        <a class="h" href="<%= address %>/options">Options</a></li>
        <a class="h active" href="<%- address %>/admin">Admin</a></li>
        <div class="dropdown">
            <button class="dropbtn">More
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a class="h" href="<%= address %>/stats">Stats <i class="fa fa-line-chart" aria-hidden="true"></i></a>
<a class="h" href="<%= address %>/documentation">Documentation <i class="fa fa-book" aria-hidden="true"></i></a>
                
                <a class="h" href="<%= address %>/commands">Commands <i class="fa fa-list" aria-hidden="true"></i></a>
                <a class="h" href="<%= address %>/changelogs">Changelogs <i class="fa fa-file-text-o" aria-hidden="true"></i></a>
<a class="h" href="<%= address %>/p">Profiles <i class="fa fa-user" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
    <div style="padding:21px"></div>
    <div class="container" style="overflow-x:hidden">
        <img style="width:2000px;height:300px;pointer-events: none;" class="selectDisable" id="myImage" src="/Images/cubes.png">
        <div style="position:absolute;font-size:50px;left:10%;transform: translate(0, -50%);top:calc(50% - 35px)">Compass Bot</div>
        <div style="position:absolute;left:10%;transform: translate(0, -50%);top:calc(50% + 20px);color:#DFE1E5">Admin</div>
    </div>
    <div class="topcornerdiv" id="topcorner">
        <button class="formbutton" style="float:right;margin-top:25px;padding:5px" onclick="logout()">Log out</button>
        <button class="formbutton" style="float:right;margin-top:25px;padding:5px" onclick="change()">Switch accounts</button>
        <%- avatar %>
        <p style="z-index:100;color:white" id="logintext">You're logged in as <%= name %></p>

    </div>
    <div class="text">
        <div class="titleBar" style="box-shadow: 0px 0px 20px 6px #00000050;border-radius:10px;background-color:#1C1F26;min-width:80%;margin-right:2%;margin-left:2%;top:0;min-width:95%;max-width:90%;height:70px;">
            <!--AUTOGENERATED START-->
            <a class="section" href="<%- address %>/admin">Status page</a>
            <a class="section" href="<%- address %>/admin/servers">Servers</a>
            <%- suggestions %>
            <%- issues %>
            <%- codes %>
            <!--AUTOGENERATED END-->
        </div>
        <%- data %>
    </div>
        
</div>
      
</div>
    
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/JS/dashboardexcept.js"></script>
