html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Alatsi';
    font-size: 22px;
}
.noscroll {
    overflow-y: hidden;
}

.selectDisable {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.selectEnable {
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -o-user-select: text;
    user-select: text;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    padding-bottom: 50px;
    padding-right: 300px;
    padding-left: 300px;
    padding-top: 50px;
    -webkit-transition: left 0.5s;
    z-index: 1;
}

.appear {
    opacity: 100%;
    left: 57%;
}

.appearmobile {
    opacity: 100%;
    left: 80%;
}

.bigger {
    padding-right: 50px
}

.invarrow {
    position: absolute;
    right: 5px;
}

.block {
    width: 100px;
    height: 100px;
    background: #eee;
    margin: 10px;
    display: inline-block;
}


.text {
    position: relative;
    padding-bottom: 100px;
    background-color: #383d49;
    right: 0;
    left: 0;
    padding-top: 20px;
    padding-bottom:2000px
}

.textanimate {
    animation: typewriter 4s steps(30) 1s 1 normal both,
        blinkTextCursor 500ms steps(30) infinite normal;
}

.thetext {
    top: 0px;
    -webkit-transition: all 0.5s;
    padding-top: 0px;
    color: white;
    .textanimate
}


.line-1 {
    position: relative;
    width: 15em;
    margin: 0 auto;
    border-right: 2px solid rgba(255, 255, 255, .75);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}

@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: 15em;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(255, 255, 255, .75);
    }

    to {
        border-right-color: #ffffff00;
    }
}
.imgs {
    border:10px solid white;
    border-radius:50px;
    width:30%;
    height:auto;
    margin-top:100px;
    position: absolute;
    left: -40%;
    animation-name: example2;
animation-duration: 4s;
animation-iteration-count: infinite;
    -webkit-transition: all 0.5s;
    box-shadow: 0px 0px 20px 5px #00000050;
}
.button{
    border-radius: 10px;
    border:white 2px solid;
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right:5px;
    padding-left:5px;
    -webkit-transition: all 0.5s;
    color: white;
    background-color: #6d93c3;
    box-shadow: 0px 0px 20px 5px #00000050;
    text-align:center;
    text-decoration: none;
}
a.link:hover {
    padding-right:30px;
    padding-left:30px
}
img.dasb:hover {
  -webkit-transition: all 0.5s;
  border-radius:10px;
  cursor:pointer
}
.listimg {
  width:50px;
  height:50px;
  border-radius:50px;
  -webkit-transition: all 0.5s;
  background-color:#36393E;
}
#topcorner{
    top:0px;
right:0px;
background-color:#525764;
box-shadow: 0px 0px 20px 5px #00000050;
border-radius:20px;
position:fixed;
z-index:100;
padding-left:5px;
padding-right:5px
}
div.topcornerdiv:hover {
  box-shadow: 0px 0px 10px 5px #00000050;
  border-radius:30px;
  background-color:#4d525e;
}
.avatar {
margin-left:10px;
margin-top:10px;
width:50px;
height:50px;
border-radius:128px;
-webkit-transition: all 0.5s;
}


.collapsible {
    background-color: #1C1F26;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 30px;
    text-align:center;
  }
  
  .collapsible:hover {
    background-color: #36393E;
  }
  .active {background-color: gray;}
  .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #282C34;
    border: 2px solid gray;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
  }
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color:#161616;
    color:white
  }
  
  td, th {
    border-bottom: 1px solid rgb(168, 168, 168);
    border-top: 1px solid rgb(168, 168, 168);
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #36393E;
  }

  .navbar {overflow: hidden;background-color: #2c2f33;position:fixed;width:100%;z-index:10;border-bottom: 2px solid white;top:0;left:0;}
  .navbar a {float: left;font-size:20px;color: white;text-align: center;padding: 14px 16px;text-decoration: none;}
  .dropdown {float: left;overflow: hidden;}
  .dropdown .dropbtn {font-size: 20px;  border: none;outline: none;color: white;padding: 14px 16px;background-color: inherit;font-family: inherit;margin: 0;}
  .navbar a:hover, .dropdown:hover .dropbtn {background-color: #111;}
  
  .dropdown-content {display: none;position: absolute;background-color: #2c2f33;min-width: 160px;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);z-index: 1;position:fixed;border:2px solid white;}
  .dropdown-content a {float: none;color:white;padding: 12px 16px;text-decoration: none;display: block;text-align: left;}
  .dropdown-content a:hover {background-color: #111}
  .dropdown:hover .dropdown-content {display: block;}